<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/index2']">
            <img src="assets/img/logo.png" alt="" height="40" class="me-2">
            <span class="copy">Spotify</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <div class="nav-item"><a class="nav-link" href="#">Premium</a></div>
                <div class="nav-item"><a class="nav-link" href="#">Support</a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/download']">Download</a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/signup']">Sign up</a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/login']">Log in</a></div>
            </div>
        </div>
    </div>
</nav>
