<div class="playsong">
    <div class="img d-flex">
      <div>
        <img src="https://static.vecteezy.com/system/resources/previews/000/458/837/original/vector-beautiful-heart-illustration-in-blue-background.jpg" alt="">
      </div>
      <div>
        <p class="p1">Your Playlist</p>
        <p class="p2">Liked Songs</p>
        <p class="p3">{{ wishlist.length }} songs</p>
      </div>
    </div>
  
    <div class="content">
      <div class="d-flex align-items-center">
        <button mat-mini-fab class="play-btn">
          <mat-icon> play_arrow</mat-icon>
        </button>
        <button mat-flat-button class="follow-btn">FOLLOW</button>
        <mat-icon>more_horiz</mat-icon>
      </div>
  
      <div class="song-list">
        <div class="song-item heading">
          <div class="song-details d-flex align-items-center">
            <div class="play-icon">
              <mat-icon>play_arrow</mat-icon>
            </div>
            <div class="song-info">
              <p class="info-label">Title</p>
              <p class="info-label">Artist</p>
              <p class="info-label">Duration</p>
            </div>
            <div class="options-btn-container">
              <mat-icon class="options-btn d-lg-none">more_vert</mat-icon>
              
            </div>
          </div>
        </div>
        <div class="song-item" *ngFor="let song of wishlist; let i = index">
          <div class="song-details d-flex align-items-center">
            <div class="play-icon">
              <mat-icon>play_arrow</mat-icon>
            </div>
            <div class="song-info">
                <p>{{ i+1}}</p>
              <p>{{ song.name }}</p>
              <p>{{ song.artists }}</p>
              <p>{{ convertToMinutes(song.duration_ms) }}</p>
            </div>
            <div class="options-btn-container">
              <mat-icon class="options-btn">more_vert</mat-icon>
              <div class="heart-icon">
                <mat-icon (click)="removeFromWishlist(song)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  